:root {
  --highlight-one: #fe979a;
  --highlight-two: #ffbf98;
  --highlight-three: #e68ab5;
  --highlight-four: #8ce387;
  --content-spacing: 24px;
  --text-color-strong: #2c3e50;
  --border-color: #f6f6f8;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-color-strong);
}

@mixin vacation-container {
  max-width: $window-xlarge-min;
  margin: auto;
  padding: 0 var(--content-spacing);
}
